    <footer id="footer">
        <div class="footerTop">
            <div class="container footerTab">
                <ul class="footerTopLeft">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">T & C</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li style="border-right: 0"><a href="#">Career</a></li>
                </ul>
                <ul class="footerTopRight">
                    <li><a href="#"><img src="img/discover.png" alt="Discover"></a></li>
                    <li><a href="#"><img src="img/master.png" alt="Master"></a></li>
                    <li><a href="#"><img src="img/visa.png" alt="VISA"></a></li>
                    <li><a href="#"><img src="img/moneyOrder.png" alt="MONEY ORDER"></a></li>
                </ul>
            </div>
        </div>
        <div class="footerBody">
            <ul class="socialSection">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <p class="footerContent" style="width: 70%; margin: auto;">All design and content Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>. All right reserved by RM Asadulla. Lorem
                Ipsum has been the industry's
                standard dummy text ever since the 1500s.
            </p>
            <a class="upArrow" href="#header"><i class="fa fa-angle-up"></i></a>
        </div>
    </footer>