<header id="header">
        <div class="headerTop">
            <div class="container headerTopStyle">
                <div class="headerTopLeft">
                    <p>Free Shipping Orders of Rs. 2587 - <span style="color: #fdd623;">SHIP39</span></p>
                </div>
                <div class="headerTopRight">
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li>Cast</li>
                        <li class="count">0.00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container headerBody">
            <div class="logoArea">
                <h1><a href="#"><img src="img/logo.png" alt="LOGO"></a></h1>
            </div>
            <div class="adArea">
                <div class="adStyle">
                    <span>Hello Guest</span>
                    <span>Post Free Ad</span>
                </div>
            </div>
        </div>
        <div class="searchArea">
            <form class="container searchform" action="" method="POST">
                <div class="sec1">
                    <span class="fa fa-angle-down"></span>
                    <select name="" id="">
                        <option value="">Select City</option>
                        <option value="">Dhaka</option>
                        <option value="">Manikganj</option>
                    </select>
                </div>
                <div class="sec2">
                    <span class="fa fa-angle-down"></span>
                    <select name="" id="">
                        <option value="">Search Filter</option>
                        <option value="">Mobile</option>
                        <option value="">Watch</option>
                    </select>
                </div>
                <div class="srbtn">
                    <input type="search" placeholder="Enter your search term here"><input type="submit" value="Search">
                </div>
            </form>
        </div>
    </header>