<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Asadulla Ahmed">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="simple ecommerce site" />
    <title>Modern Shop</title>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{!-- header --}}
    {{>header}}

    <main class="container mainBody">
        <div class="menubar"><i class="menuIcon fa fa-bars"></i></div>
        <div id="main">
            <div class="adSection">
                <div class="adsubSection"><img src="img/addOne.png" alt="ad"></div>
                <div class="adsubSection"><img src="img/addTwo.png" alt="ad"></div>
            </div>
            <div class="productSection">
                <div class="card" data-category="mobile & accssrs">
                    <img src="img/img1.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="mobile & accssrs">
                    <img src="img/img2.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="mobile & accssrs">
                    <img src="img/img3.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="mobile & accssrs">
                    <img src="img/img4.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="kids & toys">
                    <img src="img/img5.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="mobile & accssrs">
                    <img src="img/img6.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/img7.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="kids & toys">
                    <img src="img/img8.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="automobile">
                    <img src="img/img9.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shirt3.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shoes3.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shoes2.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shoes3.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shirt2.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shirt1.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="realestate">
                    <img src="img/p/shirt.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="technology">
                    <img src="img/p/bodycover3.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="technology">
                    <img src="img/p/bodycover2.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="technology">
                    <img src="img/p/bodycover1.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="sport & health">
                    <img src="img/p/legcover1.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="sport & health">
                    <img src="img/p/legcover2.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="sport & health">
                    <img src="img/p/legcover3.jpg" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="cycle & bikes">
                    <img src="img/p/bike1.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="cycle & bikes">
                    <img src="img/p/bike2.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="cycle & bikes">
                    <img src="img/p/bike3.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" data-category="cycle & bikes">
                    <img src="img/p/bike4.png" alt="Product">
                    <div class="productDes">
                        <p>Mvi g90 size zero mobile</p>
                        <div class="info">
                            <p class="price">Rs.223</p>
                            <p class="time">Todat <span>12:12</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catagorySection">
                <h2>Catagories</h2>
                <ul id="cat">
                    <li class="btnC active" data-filter="all"><i class="fa fa-angle-right"></i>all</li>
                    <li class="btnC" data-filter="mobile & accssrs"><i class="fa fa-angle-right"></i>mobile
                        &
                        accssrs</li>
                    <li class="btnC" data-filter="cycle & bikes"><i class="fa fa-angle-right"></i>cycle & bikes</li>
                    <li class="btnC" data-filter="automobile"><i class="fa fa-angle-right"></i>refautomobile
                    </li>
                    <li class="btnC" data-filter="realestate"><i class="fa fa-angle-right"></i>realestate
                    </li>
                    <li class="btnC" data-filter="furniture"><i class="fa fa-angle-right"></i>furniture
                    </li>
                    <li class="btnC" data-filter="technology"><i class="fa fa-angle-right"></i>technology
                    </li>
                    <li class="btnC" data-filter="kids & toys"><i class="fa fa-angle-right"></i>kids &
                        toys
                    </li>
                    <li class="btnC" data-filter="sport & health"><i class="fa fa-angle-right"></i>sport
                        &
                        health</li>
                    <li class="btnC" data-filter="stationery"><i class="fa fa-angle-right"></i>stationery
                    </li>
                    <li class="btnC" data-filter="books & cds"><i class="fa fa-angle-right"></i>books &
                        cds
                    </li>
                </ul>
            </div>
        </div>
    </main>
    {{!-- footer --}}
    {{>footer}}
    <script type="text/javascript" src="javascript.js"></script>
</body>

</html>